<div class="group relative">
    <a href="{% url "api-docs" %}">
        <button>
            <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none"
            viewBox="0 0 24 24" class="w-8 hover:scale-125 duration-200 hover:stroke-blue-500">
            <path d="M19.898 16h-12c-.93 0-1.395 0-1.777.102A3 3 0 0 0 4 18.224" />
            <path stroke-linecap="round"
                d="M8 7h8m-8 3.5h5M10 22c-2.828 0-4.243 0-5.121-.879C4 20.243 4 18.828 4 16V8c0-2.828 0-4.243.879-5.121C5.757 2 7.172 2 10 2h4c2.828 0 4.243 0 5.121.879C20 3.757 20 5.172 20 8m-6 14c2.828 0 4.243 0 5.121-.879C20 20.243 20 18.828 20 16v-4" />
            </g>
            </svg>
        </button>
    </a>
    <span class="absolute -top-14 left-[50%] -translate-x-[50%] 
      z-20 origin-left scale-0 px-3 rounded-lg border 
      border-gray-300 bg-white py-2 text-sm font-bold
      shadow-md transition-all duration-300 ease-in-out 
      group-hover:scale-100 dark:text-black/90">Documentation</span>
</div>